@import "components/header.css";
@import "components/footer.css";
@import "pages/main.css";
@import "pages/artists.css";
@import "pages/artist.css";




.wrapper > * {
  grid-column: 2;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 64px)) 1fr;
}

.full-bleed {
  grid-column: 1 / -1;
}






