* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: fit-content;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.wrapper > * {
  grid-column: 2;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr min(80ch, calc(100% - 64px)) 1fr;
}

.full-bleed {
  grid-column: 1 / -1;
}

.header {
  z-index: 1;
  position: sticky;
  top: 0px;
  background-color: rgba(238, 238, 230, 0);
  height: 6rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(238, 238, 230, 0);
}

.header.hidebg {
  border-bottom: 1px solid black;
  background-color: #f4f4f0;
}

@media screen and (max-width: 62em) {
  .header {
    padding-top: 1rem;
    padding-left: 1rem;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
  }
  .header.hidebg {
    border-bottom: transparent;
    background-color: transparent;
  }

  .footer .bubbles {
    display: none;
  }
}

@media (max-width: 75ch) {
}

.footer {
  z-index: 1;
  --footer-background: #ef7014;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s), slide 4s;
  transform: translate(-50%, 100%);
}
.footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }

  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
    background-color: var(--footer-background);
  }
  80% {
    background-color: var(--footer-background);
  }
  100% {
    background-color: red;
    bottom: var(--distance, 10rem);
  }
}

.artist-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  grid-gap: 20px;
  width: 100%;
  list-style-type: none;
  justify-content: space-around;
  padding: 0 5%;
}

.artist-card {
  min-width: 300px;
  max-width: 350px;
  min-height: 300px;
  max-height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 10px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  position: relative;
  border-radius: 10%;
}

.artist-card:hover {
  transform: translateY(-5px);
}

.artist-image {
  border-radius: 10%;
  z-index: -1;
  position: absolute;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.artist-name {
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  text-align: center;
}

.artist-bio {
  font-size: 16px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .artist-list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .artist-card {
    padding: 10px;
  }

  .artist-image {
    height: 100px;
    width: 100px;
  }

  .artist-name {
    font-size: 18px;
  }

  .artist-bio {
    font-size: 14px;
  }
}
